---
import footerData from '../data/footer.json';
---
<footer>
  <p>{footerData.copyright}</p>
  <div class="footer-brand">
    <span class="fuji-dot-sm"></span>
    <span>shaarstudio.com</span>
  </div>
</footer>
